@using MangaOYomu
@model List<MangaTitle>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var manga in Model)
    {
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div>
                        <img class="card-img-top" src=@manga.Cover
                             alt="No Image  "/>
                    </div>
                    <h1 class="card-title text-center">@manga.Name</h1>

                    <h2 class="card-title text-center" style="color: blue">
                        @manga.Rating ☆
                    </h2>
                    <div>
                        <p class="font-weight-normal">@manga.ReleaseYear</p>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-danger" asp-controller="Projects"
                           asp-action="MangaAbout" asp-route-name="@manga.MangaTitleID"
                           role="button">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
