@using MangaOYomu
@model MangaTitle
@{
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <p class="align-content-center">You are Logged in as:</p>
    <h2>@Model.Description</h2>
    <h2>@Model.ReleaseYear</h2>
</div>