@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Copyright</h1>

<h2>О сервисе</h2>
<p>
    Сервис MangaOYomu — это клуб любителей манги, где пользователи предоставляют свои переводы манги, получая возможность загружать и читать мангу и делится ею с другими членами клуба.
</p>

<h2>
    Поддержка борьбы с незаконным контентом
</h2>
<p>
    К сожалению, нельзя исключить случаи, когда Пользователи могут с помощью Сайта незаконно хранить, передавать, распространять и предоставлять доступ к информации и объектам интеллектуальной собственности.

    Администрация Сайта не вправе принимать на себя функции правоохранительных либо судебных органов и объективно не в состоянии оценить, является тот или иной контент, размещенный на Сайте, законным или нет. В случае возникновения спорной ситуации заявителю следует обращаться в правоохранительные органы и суды.
</p>
<h2>
    Законность
</h2>
<p>
    Администрация Сайта соблюдает российское законодательство и не осуществляет контроль и цензуру отношений, связанных с применением Пользователями технических возможностей Сайта. Пользователи вправе в соответствии с законодательством свободно использовать возможности Сайта для обмена информацией, в том числе в рамках обсуждения творчества любимых авторов и исполнителей, качества и использования товаров и услуг третьих лиц.
</p>
<h2>
    Защита авторских прав
</h2>
<p>
    Мы соблюдаем Закон о защите авторских прав в цифровую эпоху (DMCA) и другие действующие законы об авторских правах и быстро удаляем неправомерно размещенные переводы манги, получив соответствующее уведомление о нарушении прав.
</p>